# Week 12 Review Assignmnet

For the questions below, we're going to refer exclusively to an HHCAPS survey data set that is available in `/data/hhcaps.csv`.  Use whatever commands you want to calculate the information required to get to the answer.  Then, enter your answer in the answers cell as usual.

**NOTE: Enter your answers as string values (inside quotation marks "") even if the answer is actually numeric.**

---
---

In [46]:
%matplotlib inline
import pandas as pd

hhcaps = pd.read_csv('/data/hhcaps.csv')

## #01 - 

How many columns does this file contain?

In [47]:
# Write some code to figure it out
hhcaps.agg(['count'])

,State,CMS Certification Number (CCN)*,Provider Name,Address,City,Zip,Phone,Type of Ownership,Offers Nursing Care Services,Offers Physical Therapy Services,...,Star Rating for how patients rated overall care from agency,Footnote for Star Rating for overall care from agency,Percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest),Footnote for percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest),"Percent of patients who reported YES, they would definitely recommend the home health agency to friends and family","Footnote for percent of patients who reported YES, they would definitely recommend the home health agency to friends and family",Number of completed Surveys,Footnote for number of completed surveys,Response rate,Footnote for response rate
count,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,...,5753,8429,12000,8429,12000,8429,12000,8429,12000,8429

In [3]:
answers={}
answers['56.1'] = "39"

## #02 - 

How many different values for State are there in this file?

In [48]:
# Write some code to figure it out
states = hhcaps.groupby('State').count()
print(states)

       CMS Certification Number (CCN)*  Provider Name  Address  City   Zip  \
State
AK                                  14             14       14    14    14
AL                                 152            152      152   152   152
AR                                 172            172      172   172   172
AZ                                 169            169      169   169   169
CA                                1319           1319     1319  1319  1319
CO                                 187            187      187   187   187
CT                                  91             91       91    91    91
DC                                  28             28       28    28    28
DE                                  26             26       26    26    26
FL                                1069           1069     1069  1069  1069
GA                                 106            106      106   106   106
GU                                   4              4        4     4     4
HI                                  16             16       16    16    16
IA                                 163            163      163   163   163
ID                                  45             45       45    45    45
IL                                 735            735      735   735   735
IN                                 229            229      229   229   229
KS                                 117            117      117   117   117
KY                                 104            104      104   104   104
LA                                 195            195      195   195   195
MA                                 261            261      261   261   261
MD                                  53             53       53    53    53
ME                                  24             24       24    24    24
MI                                 597            597      597   597   597
MN                                 197            197      197   197   197
MO                                 169            169      169   169   169
MP                                   2              2        2     2     2
MS                                  48             48       48    48    48
MT                                  27             27       27    27    27
NC                                 174            174      174   174   174
ND                                  18             18       18    18    18
NE                                  75             75       75    75    75
NH                                  31             31       31    31    31
NJ                                  47             47       47    47    47
NM                                  77             77       77    77    77
NV                                 143            143      143   143   143
NY                                 141            141      141   141   141
OH                                 781            781      781   781   781
OK                                 256            256      256   256   256
OR                                  57             57       57    57    57
PA                                 425            425      425   425   425
PR                                  45             45       45    45    45
RI                                  27             27       27    27    27
SC                                  70             70       70    70    70
SD                                  33             33       33    33    33
TN                                 140            140      140   140   140
TX                                2518           2518     2518  2518  2518
UT                                  98             98       98    98    98
VA                                 244            244      244   244   244
VI                                   1              1        1     1     1
VT                                  11             11       11    11    11
WA                                  63             63       63    63    63
WI                                 119            119      119   119   119
WV                                  61             61       61    61    61
WY                                  26             26       26    26    26

       Phone  Type of Ownership  Offers Nursing Care Services  \
State
AK        14                 14                            14
AL       152                152                           152
AR       172                172                           172
AZ       169                169                           169
CA      1319               1319                          1319
CO       187                187                           187
CT        91                 91                            91
DC        28                 28                            28
DE        26                 26                            26
FL      1069               1069                          1069
GA       106                106                           106
GU         4                  4                             4
HI        16                 16                            16
IA       163                163                           163
ID        45                 45                            45
IL       735                735                           735
IN       229                229                           229
KS       117                117                           117
KY       104                104                           104
LA       195                195                           195
MA       261                261                           261
MD        53                 53                            53
ME        24                 24                            24
MI       597                597                           597
MN       197                197                           197
MO       169                169                           169
MP         2                  2                             2
MS        48                 48                            48
MT        27                 27                            27
NC       174                174                           174
ND        18                 18                            18
NE        75                 75                            75
NH        31                 31                            31
NJ        47                 47                            47
NM        77                 77                            77
NV       143                143                           143
NY       141                141                           141
OH       781                781                           781
OK       256                256                           256
OR        57                 57                            57
PA       425                425                           425
PR        45                 45                            45
RI        27                 27                            27
SC        70                 70                            70
SD        33                 33                            33
TN       140                140                           140
TX      2518               2518                          2518
UT        98                 98                            98
VA       244                244                           244
VI         1                  1                             1
VT        11                 11                            11
WA        63                 63                            63
WI       119                119                           119
WV        61                 61                            61
WY        26                 26                            26

       Offers Physical Therapy Services  Offers Occupational Therapy Services  \
State
AK                                   14                                    14
AL                                  152                                   152
AR                                  172                                   172
AZ                                  169                                   169
CA                                 1319                                  1319
CO                                  187                                   187
CT                                   91                                    91
DC                                   28                                    28
DE                                   26                                    26
FL                                 1069                                  1069
GA                                  106                                   106
GU                                    4                                     4
HI                                   16                                    16
IA                                  163                                   163
ID                                   45                                    45
IL                                  735                                   735
IN                                  229                                   229
KS                                  117                                   117
KY                                  104                                   104
LA                                  195                                   195
MA                                  261                                   261
MD                                   53                                    53
ME                                   24                                    24
MI                                  597                                   597
MN                                  197                                   197
MO                                  169                                   169
MP                                    2                                     2
MS                                   48                                    48
MT                                   27                                    27
NC                                  174                                   174
ND                                   18                                    18
NE                                   75                                    75
NH                                   31                                    31
NJ                                   47                                    47
NM                                   77                                    77
NV                                  143                                   143
NY                                  141                                   141
OH                                  781                                   781
OK                                  256                                   256
OR                                   57                                    57
PA                                  425                                   425
PR                                   45                                    45
RI                                   27                                    27
SC                                   70                                    70
SD                                   33                                    33
TN                                  140                                   140
TX                                 2518                                  2518
UT                                   98                                    98
VA                                  244                                   244
VI                                    1                                     1
VT                                   11                                    11
WA                                   63                                    63
WI                                  119                                   119
WV                                   61                                    61
WY                                   26                                    26

       ...  Star Rating for how patients rated overall care from agency  \
State  ...
AK     ...                                                  6
AL     ...                                                130
AR     ...                                                 78
AZ     ...                                                 83
CA     ...                                                488
CO     ...                                                 96
CT     ...                                                 69
DC     ...                                                  6
DE     ...                                                 13
FL     ...                                                482
GA     ...                                                 97
GU     ...                                                  0
HI     ...                                                 11
IA     ...                                                 98
ID     ...                                                 36
IL     ...                                                289
IN     ...                                                133
KS     ...                                                 66
KY     ...                                                 97
LA     ...                                                164
MA     ...                                                104
MD     ...                                                 46
ME     ...                                                 20
MI     ...                                                215
MN     ...                                                101
MO     ...                                                113
MP     ...                                                  0
MS     ...                                                 44
MT     ...                                                 18
NC     ...                                                152
ND     ...                                                 12
NE     ...                                                 36
NH     ...                                                 22
NJ     ...                                                 42
NM     ...                                                 56
NV     ...                                                 71
NY     ...                                                103
OH     ...                                                288
OK     ...                                                171
OR     ...                                                 44
PA     ...                                                209
PR     ...                                                 26
RI     ...                                                 19
SC     ...                                                 60
SD     ...                                                 12
TN     ...                                                118
TX     ...                                                807
UT     ...                                                 53
VA     ...                                                149
VI     ...                                                  1
VT     ...                                                 11
WA     ...                                                 56
WI     ...                                                 69
WV     ...                                                 51
WY     ...                                                 12

       Footnote for Star Rating for overall care from agency  \
State
AK                                                    13
AL                                                    62
AR                                                   112
AZ                                                   111
CA                                                  1069
CO                                                   130
CT                                                    37
DC                                                    24
DE                                                    16
FL                                                   755
GA                                                    20
GU                                                     4
HI                                                    10
IA                                                   122
ID                                                    25
IL                                                   593
IN                                                   147
KS                                                    74
KY                                                    25
LA                                                    75
MA                                                   180
MD                                                    10
ME                                                    10
MI                                                   476
MN                                                   151
MO                                                    96
MP                                                     2
MS                                                     7
MT                                                    20
NC                                                    49
ND                                                    10
NE                                                    54
NH                                                    13
NJ                                                     9
NM                                                    50
NV                                                   119
NY                                                    54
OH                                                   604
OK                                                   174
OR                                                    23
PA                                                   265
PR                                                    28
RI                                                    10
SC                                                    23
SD                                                    26
TN                                                    45
TX                                                  2145
UT                                                    70
VA                                                   142
VI                                                     1
VT                                                     1
WA                                                    16
WI                                                    76
WV                                                    25
WY                                                    21

       Percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest)  \
State
AK                                                    14
AL                                                   152
AR                                                   172
AZ                                                   169
CA                                                  1319
CO                                                   187
CT                                                    91
DC                                                    28
DE                                                    26
FL                                                  1069
GA                                                   106
GU                                                     4
HI                                                    16
IA                                                   163
ID                                                    45
IL                                                   735
IN                                                   229
KS                                                   117
KY                                                   104

In [5]:
answers['56.2'] = "55"

## #03 - 

Which of those State values has the highest frequency of occurence?

In [45]:
# Write some code to figure it out
states.max(axis = 1)
states.agg(['max'])

,CMS Certification Number (CCN)*,Provider Name,Address,City,Zip,Phone,Type of Ownership,Offers Nursing Care Services,Offers Physical Therapy Services,Offers Occupational Therapy Services,...,Star Rating for how patients rated overall care from agency,Footnote for Star Rating for overall care from agency,Percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest),Footnote for percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest),"Percent of patients who reported YES, they would definitely recommend the home health agency to friends and family","Footnote for percent of patients who reported YES, they would definitely recommend the home health agency to friends and family",Number of completed Surveys,Footnote for number of completed surveys,Response rate,Footnote for response rate
max,2518,2518,2518,2518,2518,2518,2518,2518,2518,2518,...,807,2145,2518,2145,2518,2145,2518,2145,2518,2145

In [30]:
answers['56.3'] = "TX"

## #04 - 

Which of those State values has the best average performance on the `Star Rating for health team communicated well with them` score?

In [56]:
# Write some code to figure it out
star = hhcaps["State"].agg(['mean', 'max'])
print(star)

max    WY
Name: State, dtype: object

In [67]:
comm = hhcaps.groupby('State')['Star Rating for health team communicated well with them'].mean()
answer = comm.sort_values(ascending=False).index[0]
print(answer)

ME

In [68]:
answers['56.4'] = "ME"

## #05 - 

What was the average score on `Star Rating for how patients rated overall care from agency` for providers listed as having a `Type of Ownership` of `Hospital Based Program`

**NOTE: Enter your answer with two decimal precision: 0.00**

In [61]:
# Write some code to figure it out
filter = hhcaps['Type of Ownership'] == 'Hospital Based Program'
HBP = hhcaps[filter]
HBP.agg(['mean']).round(2)

,CMS Certification Number (CCN)*,Zip,Phone,Offers Nursing Care Services,Offers Physical Therapy Services,Offers Occupational Therapy Services,Offers Speech Pathology Services,Offers Medical Social Services,Offers Home Health Aide Services,HHCAHPS Survey Summary Star Rating,Star Rating for health team gave care in a professional way,Star Rating for health team communicated well with them,"Star Rating team discussed medicines, pain, and home safety",Star Rating for how patients rated overall care from agency
mean,282159.25,55815.45,5.810492e+09,1.0,1.0,0.91,0.89,0.8,0.97,4.18,4.44,4.51,3.47,3.69

In [62]:
answers['56.5'] = "3.69"

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below. 

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [63]:
import getpass
import boto3
import json

test = {
    "user": getpass.getuser(),
    "week": "week12",
    "answers": answers
}

client = boto3.client('lambda')

response = client.invoke(
    FunctionName="hds5210-2021",
    InvocationType="RequestResponse",
    Payload=json.dumps(test))

result = json.loads(response['Payload'].read().decode('utf-8'))
print(response)

print('{0:>5}{1:>20}{2:>10}'.format('Q#','Yours','Correct?'))
for row in result.get('results'):
    print('{0:>5}{1:>20}{2:>10}'.format(str(row[0]),str(row[1]),str(row[2])))

{'ResponseMetadata': {'RequestId': '89323e7d-a3f2-48fa-b8c0-25d01bd92411', 'HTTPStatusCode': 200, 'HTTPHeaders': {'date': 'Tue, 20 Apr 2021 23:14:41 GMT', 'content-type': 'application/json', 'content-length': '211', 'connection': 'keep-alive', 'x-amzn-requestid': '89323e7d-a3f2-48fa-b8c0-25d01bd92411', 'x-amz-function-error': 'Unhandled', 'x-amzn-remapped-content-length': '0', 'x-amz-executed-version': '$LATEST', 'x-amzn-trace-id': 'root=1-607f6061-4432c245072e89a04c4447c9;sampled=0'}, 'RetryAttempts': 0}, 'StatusCode': 200, 'FunctionError': 'Unhandled', 'ExecutedVersion': '$LATEST', 'Payload': <botocore.response.StreamingBody object at 0x7ff54b3d9a20>}
   Q#               Yours  Correct?

TypeError: 'NoneType' object is not iterable

---

## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  The first line of code below will **pull** down my comments into your local folders.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Save this note with Ctrl-S (or Cmd-S)
2. Skip down to the last command cell (the one starting with `%%bash`) and run that cell.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

In [ ]:
assert False, "DO NOT REMOVE THIS LINE"

---

In [64]:
%%bash
git pull
git add week12_assignment_1.ipynb
git commit -a -m "Submitting the week 12 review"
git push

Already up to date.
[main b2ba58b] Submitting the week 12 review
 2 files changed, 1359 insertions(+), 2 deletions(-)
 create mode 100644 week12/week12_assignment_1.ipynb

To github.com:shreyadash/hds5210-2021.git
   004a7b1..b2ba58b  main -> main


---

If the message above says something like _Submitting the week 10 review exercises_ or _Everything is up to date_, then your work was submitted correctly.